*   @wtheisen

src/commands/reddit_commands.py @sambattalio
src/frames/reddit/* @sambattalio
src/Views/tree_thread_classes.py @sambattalio

src/commands/hn_commands.py @ginglis13
src/frames/hackernews/* @ginglis13

tests/* @ginglis13
